@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family:'poppins', sans-serif;
 overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    min-height: 100vh;
    width: 100vw;

    background-image: linear-gradient(
        rgba(4,9,30,0.7), rgba(4,9,30,0.7)
    ),url('./img/banner.png');

    background-size: cover;

    background-position: center;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2% 6%;
}


.header img{
    width: 50px;
    border-radius: 50%;
}

.nav-links {

   flex: 1;

   text-align: right;

}
.menu-btn{
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;

}

.nav-links ul{
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 30px;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}


.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    color: #ffff;
    text-align: center;

}

.text-box h1{
    font-size: 40px;
}

.text-box p{
    margin: 10px 40px;
}

.banner-button{
    padding: 12px 34px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}

.banner-button:hover{

    background-color: #f44336;
    border: 1px solid #f44336;
}


.courses-area{
    
    width: 80%;
    margin: auto;
    text-align: center;
}

.courses-area h1{
    font-size: 36px;
    font-weight: 600;
}

.courses-area p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.courses,.campuses,.educations-row,.testimonies-row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.course-card{
    background-color: #fff3f3;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: all 0.4s;
    border-radius: 10px;
}

.course-card:hover{
    box-shadow: 0 0 5px  rgba(0,0,0,0.4)
}







.campus,.educations,.testimonies{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-card{
    flex-basis: 32%;
   border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-card img{
    width: 100%;
    border-radius: 20px;
     transition: all 0.4s;
    
}

.layer{
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.4s;
    
}
 

.layer:hover{
    background-color: rgba(226,0,0,0.7);
}


.layer h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: white;

    transition: all 0.3s;
}

.layer:hover h3{
    bottom: 48%;
    opacity: 1;
}

.campus-card:hover img{
    scale: 1.2;
}


.education-card{
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;

}
.education-card img{
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 10px;
}


.education-card h3{
    margin-top: 16px;
    margin-bottom: 10px;
    height: max-content;
}

.education-card p{
padding: 0;
text-align: justify;
}

.testimony-card{
    display: flex;
    gap: 15px;
    flex-basis: 49%;
    border: 2px solid rgba(0,0,0,0.147);
    background-color: #fff3f3;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    padding: 20px 10px;
    min-height: 250px;
}

.testimony-card img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
   border: 2px solid gray; 
    border-radius: 50%;
}

.testimony-card p{
    font-size: 14px;
   margin-bottom: auto;
}
.stars{
    color: #f44336;
}

.review{
    display: flex;
    flex-direction: column;
}

.call-to-action{
    
    width: 80%;
    margin: 100px auto;
    padding: 100px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,
     url('./img/banner2.jpg');
     background-size: cover;
     background-position: center;
     text-align: center;
     border-radius: 10px;
}
 .call-to-action h1{
    color: #fff;
    margin-bottom: 40px;
 }

 .footer{
    width: 100%;
    text-align: center;
    padding: 30px 15px;

 }

 .footer h4{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
 }
 .footer-description{
    width: 90%;
    margin: 20px auto;
 }

 .icons i{
   color: #f44336;
   margin: 0 13px;
   cursor: pointer;
   padding-bottom: 20px;
 }

 .copyright{
    font-size: 12px;
 }
 
 .copyright span{
    margin: 0 10px;
    color: red;
 }



































 @media(max-width: 700px) {
    .courses{
        flex-direction: column;
    }

    .nav-links ul{
       display: none; 
    }

    .menu-btn{
        display: inline;
    }

    .text-box h1{
        font-size: 25px;
    }
    .text-box p{
        font-size: 11px;
    }
    .layer h3{
        font-size: 25px;
    }
    .campus p{
        font-size: 14px;
    }

    .campuses{
        flex-direction: column;
    }


    .educations-row{
        flex-direction: column;
        gap: 40px;
    }
     
    .testimonies-row{
        flex-direction: column;
        gap: 20px;
    }

   
}









